*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
    padding: 3rem;
}
h4{
    font-size: 6vh;
    font-weight: 800;
}
nav{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}
.Nav_links{
    display: flex;
    justify-content: end;
    padding-top: 2px;
    gap: 25px;
    /* display: flex;
    justify-content: end;
    width: 80%; */
}
.Nav_links li{
    list-style: none;
}
.recipe_img{
    width: 480px;
    height: 440px;
    padding-left: 2rem;
}
.recipe_text{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.recipe{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}
.button{
    width: 30%;
    padding: 0.7rem;
    font-size: 2.8vh;
    /* background-color: #e6e4d8;
    border-color: #C2B65B; */
    color: #C2B65B;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8
px
);
}
.chef_logo{
    width: 53px;
}
.logo{
    letter-spacing: 2.5px;
}
.rec_name{
    padding:5px;
}
.main_header{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}
.brand{
    justify-content: start;
    display: flex;
    flex-direction: row;
}